In [4]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
                                              0.0/6.0 MB ? eta -:--:--
                                              0.0/6.0 MB 1.4 MB/s eta 0:00:05
                                              0.1/6.0 MB 1.1 MB/s eta 0:00:06
     -                                        0.2/6.0 MB 1.3 MB/s eta 0:00:05
     -                                        0.3/6.0 MB 1.6 MB/s eta 0:00:04
     ---                                      0.5/6.0 MB 2.3 MB/s eta 0:00:03
     -----                                    0.9/6.0 MB 3.3 MB/s eta 0:00:02
     --------                                 1.2/6.0 MB 3.8 MB/s eta 0:00:02
     --------                                 1.2/6.0 MB 3.8 MB/s eta 0:00:02
     --------                                 1.2/6.0 MB 3.8 MB/s eta 0:00:02
     ---------------                          2.3/6.0 MB 5.2 MB/s eta 0:00:01
     ----------------                         2.4/6.0 MB 4.9 MB/s eta 0:00:01
     -------------------                      2.9/6.0 MB 5.3 MB/s eta 0:00:01
     -----------------------                  3.5/6.0 MB 5.9 MB/s eta 0:00:01
     ---------------------------              4.0/6.0 MB 6.3 MB/s eta 0:00:01
     -------------------------------          4.6/6.0 MB 6.8 MB/s eta 0:00:01
     ----------------------------------       5.2/6.0 MB 7.1 MB/s eta 0:00:01
     -------------------------------------    5.6/6.0 MB 7.2 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 7.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp39-cp39-win_amd64.whl size=1163656 sha256=4f7c81d6bcc541bde79652f90952dbeca79c833e8ac0ee197a3d31ac6c9b1c30
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\5b\43\0d\de1699809f9e6aaa54a97275298fa07075cb19acc557b18955
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed sqlalchemy-1.3.9

In [10]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.8.0-py3-none-any.whl (27 kB)
Requirement already satisfied: ipython in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.19-cp39-cp39-win_amd64.whl (2.0 MB)
                                              0.0/2.0 MB ? eta -:--:--
                                              0.0/2.0 MB 1.9 MB/s eta 0:00:02
     ---                                      0.2/2.0 MB 1.8 MB/s eta 0:00:02
     ----                                     0.2/2.0 MB 1.8 MB/s eta 0:00:01
     ---------                                0.5/2.0 MB 2.4 MB/s eta 0:00:01
     -------------                            0.7/2.0 MB 3.0 MB/s eta 0:00:01
     -------------                            0.7/2.0 MB 3.0 MB/s eta 0:00:01
     -----------------------                  1.2/2.0 MB 3.8 MB/s eta 0:00:01
     -----------------------                  1.2/2.0 MB 3.8 MB/s eta 0:00:01
     --------------------------------         1.6/2.0 MB 3.8 MB/s eta 0:00:01
     ---------------------------------------  2.0/2.0 MB 4.3 MB/s eta 0:00:01
     ---------------------------------------- 2.0/2.0 MB 4.1 MB/s eta 0:00:00
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
                                              0.0/41.2 kB ? eta -:--:--
     ---------------------------------------- 41.2/41.2 kB 1.9 MB/s eta 0:00:00
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\admin\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\admin\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\admin\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\admin\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\admin\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.8.0 sqlalchemy-2.0.19 sqlparse-0.4.4

In [11]:
%load_ext sql

In [8]:
import csv, sqlite3

con = sqlite3.connect("my_data.db")
cur = con.cursor()

In [12]:
%sql sqlite:///my_data.db

In [13]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method='multi')

101

In [14]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data.db
Done.

[]

### Task 1: Display the names of the unique launch sites in the space mission

In [16]:
%sql select distinct(Launch_Site) from SPACEXTBL

 * sqlite:///my_data.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2: Display 5 records where launch sites begin with the string 'CCA'

In [17]:
%sql select * from SPACEXTBL where launch_site LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3: Display the total payload mass carried by boosters launched by NASA (CRS)

In [23]:
%sql SELECT sum(PAYLOAD_MASS__KG_) from SPACEXTBL where Customer = 'NASA (CRS)'

 * sqlite:///my_data.db
Done.

[(45596,)]

### Task 4: Display average payload mass carried by booster version F9 v1.1

In [24]:
%sql select avg(PAYLOAD_MASS__KG_) from SPACEXTBL where Booster_Version = 'F9 v1.1'

 * sqlite:///my_data.db
Done.

[(2928.4,)]

### Task 5: List the date when the first succesful landing outcome in groupnd pad was acheived

In [26]:
%sql select distinct(Landing_Outcome) from SPACEXTBL

 * sqlite:///my_data.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [29]:
%sql select min(Date) from SPACEXTBL where Landing_Outcome = 'Success'

 * sqlite:///my_data.db
Done.

[('2018-03-12',)]

### Task 6: 

**List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000**

In [32]:
%%sql select Booster_Version 
        from SPACEXTBL 
        where Landing_Outcome = 'Success (drone ship)' 
        and PAYLOAD_MASS__KG_ in (4000,6000)

 * sqlite:///my_data.db
Done.

[]

### Task 7: List the total number of successful and failure mission outcomes

In [41]:
%sql select count(Landing_Outcome), Landing_Outcome from SPACEXTBL where Landing_Outcome in ('Failure','Success')

 * sqlite:///my_data.db
Done.

[(41, 'Success')]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [25]:
df.head(5)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-04-06,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-08-10,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-01-03,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt